.navlogin {
    font-weight: 600;
}

.login_title {
    text-align: center;
    margin-top: 120px;
}

.login_form {
    display: flex;
    justify-content: center;
    margin-bottom: 300px;
    margin-top: 40px;
}

.connexion {
    display: flex;
    flex-direction: column;
}

.connexion label {
    font-family: "Work Sans";
    font-weight: 500;
    color: #3d3d3d;

}

.connexion input {
    width: 400px;
    height: 50px;
    margin-top: 8px;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.connexion .submit {
    width: 180px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 25px;
    cursor: pointer;
}

.forgotten_password {
    font-family: "Work Sans";
    font-weight: 500;
    color: #3d3d3d;
    text-align: center;
}

.error {
    color: red;
    padding-bottom: 15px;
}